<div class="grid w-screen h-screen relative">

  <p-card header="Map Counter" class="col-offset-2 col-4 md:col-5 md:col-offset-1 align-items-stretch" styleClass="h-full">
    <app-counter counterName="MAP_COUNTER" [showUndo]="false"/>
  </p-card>

  <p-card header="Gil Counter" class="col-4 md:col-5 relative">
    <app-counter counterName="GIL_COUNTER" [steps]="moneySteps" [showCustom]="true"/>
  </p-card>

  <p-card header="Left or Right?" class="col-4 md:col-5 md:col-offset-1 col-offset-2">
    <app-left-right/>
  </p-card>


  <div class="absolute top-0 right-0 mr-3 mt-3">
    <p-button icon="pi pi-trash" (click)="resetData()"/>
  </div>
</div>

<p-confirmDialog />
