@use "../node_modules/primeflex/primeflex.css" as primeflex;
@use "../node_modules/primeicons/primeicons.css" as primeicons;

/* Order */
@layer reset, primeng, primeicons, primeflex;


@layer reset {
  html, body {
    margin: 0;
    padding: 0;
  }
}

html, body{
  font-family: "Inter var", sans-serif;
}

